body {
  background-color: aquamarine;
  padding: 5%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: antiquewhite;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  padding: 10px 12px;
  background-color: lightgray;
}
